
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 238 22% 19%;
    --foreground: 0 0% 98%;
    --card: 238 22% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 238 22% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 242 75% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 238 22% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 22% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 242 94% 83%;
    --accent-foreground: 238 22% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 22% 29%;
    --input: 238 22% 29%;
    --ring: 242 75% 61%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 238 22% 19%;
    --foreground: 0 0% 98%;
    --card: 238 22% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 238 22% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 242 75% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 238 22% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 22% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 242 94% 83%;
    --accent-foreground: 238 22% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 22% 29%;
    --input: 238 22% 29%;
    --ring: 242 75% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}
